<% if current_user %>
	<h3>Welcome: <%= current_user.email %></h3>
<% else %>
	<div class="site-header">
		<h2>Trackr</h2>
		<p class="lead">
			Task tracking made simple
		</p>
		<p class="lead">
			<%= link_to "Sign up", new_user_registration_path %> Today!
		</p>
	</div>
<% end %>

